body {
    font-family: Arial;
}

a {
    color: #de8699;
    text-decoration: none;
}

a:hover {
    color: #c21b3f
}

li.nav {
    font-size: 25px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}