body {
    font-family: Arial;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7f7f7f;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.544);
    position: fixed;
    top: 0;
}

img.Logo {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 125px;
}

nav {
    margin-top: 100px;
    margin-bottom: 20px;
}

aside {
    float: left;
    width: 12.5%;
}


li.nav {
    font-size: 25px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-top: 100px;
}


a.e-mail {
    color: white;
    font-weight: bold;
}

a.e-mail:hover {
    color: white;
    text-decoration: underline;
}

a.telefoon:hover {
    color: white;
    text-decoration: underline;
}

a.telefoon {
    color: white;
    font-weight: bold;
}

a {
    color: #de8699;
    text-decoration: none;
}

a:hover {
    color: #c21b3f
}


li.footer {
    margin: 0px;
    list-style-type: none;
}

p.tussentitel {
    padding-top: 5px;
    margin-left: 10px;
    text-decoration: underline;
}

p.footer {
    margin: 7px;
    margin-left: 10px;
}

footer {
    color: white;
    background-color: #be0e34;
    width: 100%;
}